@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0 0 0;
  --background-start-rgb: 214 219 220;
  --background-end-rgb: 255 255 255;
  --red: 237 28 36;
  --green: 102 197 123;
  --black: 54 54 54;
  --white: 255 255 255;
  --gray-1: 219 219 219;
  --gray-2: 168 168 168;
  --gray-3: 118 118 118;
  --gray-4: 80 80 80;  
  --gray-5: 245 245 245;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255 255 255;
    --background-start-rgb: 0 0 0;
    --background-end-rgb: 0 0 0;
  }
} */

body {
  @apply text-black;
} 
/* 
@layer utilities {
  /* .text-balance {
    text-wrap: balance;
  } */

@layer base {
  button {
    text-align: left;
  }
  input::placeholder {
    color: --gray-3;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .absolute-center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}
